{% extends "frontend/base.html.twig" %}
{% block title %}Heavy-Drive - Vous propose des services de qualités pour toutes vos location{% endblock %}
{% block body %}
    <section class="features-section relative background-2">
        <div class="container">
            <div class="row section-separator-small sp-top margin-b-75">
                <div class="section-header col-xs-12">
                    <h1 class="centered">NOS SERVICES</h1>
                    <hr class="star-light">
                </div>
                <div class="features-item margin-t-70 col-xs-12">
                    <div class="row">
                        <div class="each-item business-item col-xs-12">
                            <div class="each-item-inner">
                                <div class="vertical-middle features-image bg-cover col-sm-6 col-xs-12" style="background-image: url('images/LocChrono.jpg')"></div>
                                <div class="vertical-middle features-content triangle-left col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="inner text-right">
                                            <div class="section-header">
                                                <h3 class="section-heading">Location Chrono</h3>
                                            </div>
                                            <div class="detail small-spacing">
                                                <p>
                                                    Le temps d'une journée, savourez le plaisir de conduire le véhicule de votre choix et bénéficiez de tout le confort <strong>Heavy-Drive...</strong>
                                                    Prise en charge du véhicule <strong>pour 24 heures</strong> entre 07H00 et 10H00 ou de 13H00 à 15H00.
                                                    Retour le lendemain sur même plage horaire.
                                                    <strong>Kilométrage Illimité.</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-item business-item col-xs-12">
                            <div class="each-item-inner">
                                <div class="vertical-middle features-image bg-cover col-sm-6 col-sm-push-6" style="background-image: url('images/LocBienEtre.jpg')"></div>
                                <div class="vertical-middle features-content triangle-right col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="inner text-left">
                                            <div class="section-header">
                                                <h3 class="section-heading">Location Bien-Être</h3>
                                            </div>
                                            <div class="detail small-spacing">
                                                <p>
                                                    Optez pour la sérénité le temps d'un <b>Week-End</b> ou <b>d'une Semaine</b> à bord de l'un de nos véhicules suréquipés et confortables sans craindre la distance.
                                                    <p class="centered"><br/>Location en <strong>Kilométrage Illimité</strong> :
                                                    <br><strong>Week-End</strong>: Vendredi - Lundi
                                                    <br/><strong>Hebdomadaire (-10%)</strong>: Lundi - Lundi</p>

                                                </p>
                                            </div>
                                            <!--<div class="btn-form btn-interest">
                                                <a class="btn right-icon" href="#" data-toggle="" data-target="">LEARN MORE
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-item business-item col-xs-12">
                            <div class="each-item-inner">
                                <div class="vertical-middle features-image bg-cover col-sm-6 col-xs-12" style="background-image: url('images/HeavyDriveMe.jpg')"></div>
                                <div class="vertical-middle features-content triangle-left col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="inner text-right">
                                            <div class="section-header">
                                                <h3 class="section-heading">Location Heavy-Drive Me</h3>
                                            </div>
                                            <div class="detail small-spacing">
                                                <p style="text-align: justify">
                                                    Installez-vous confortablement à l'arrière du véhicule de votre choix, puis laissez-vous conduire en toute sécurité.
                                                    Ponctualité, discrétion, et professionnalisme, seront les crédos de votre chauffeur.
                                                    Déplacements, Soirées Privées, Mariages, PACS, etc...
                                                    <strong>Contactez-nous</strong>
                                                </p>
                                            </div>
                                            <!--<  <div class="btn-form btn-interest">
                                                  <a class="btn left-icon" href="#" data-toggle="" data-target="">
                                                      i class="fa fa-long-arrow-left"></i>LEARN MORE
                                                </a>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="each-item business-item col-xs-12">
                            <div class="each-item-inner">
                                <div class="vertical-middle features-image bg-cover col-sm-6 col-sm-push-6" style="background-image: url('images/Livraison.jpg')"></div>
                                <div class="vertical-middle features-content triangle-right col-sm-6 col-sm-pull-6">
                                    <div class="row">
                                        <div class="inner text-left">
                                            <div class="section-header">
                                                <h3 class="section-heading">Livraison</h3>
                                            </div>
                                            <div class="detail small-spacing">
                                                <p>
                                                    Choisissez le lieu de votre choix et récupérez les clés de votre véhicule. Heavy-Drive vient à vous afin de vous faciliter la vie.
                                                    <strong>"Bonjour Madame, Monsieur, voici vos clés..."</strong>

                                                    Tarifs à partir de 29 euros*...
                                                </p>
                                            </div>
                                            <!-- <div class="btn-form btn-interest">
                                                 <a class="btn right-icon" href="#" data-toggle="" data-target="">
                                                     <i class="fa fa-long-arrow-right"></i>LEARN MORE
                                                </a>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="each-item business-item col-xs-12">
                        <div class="each-item-inner">
                            <div class="vertical-middle features-image bg-cover col-sm-6 col-xs-12" style="background-image: url('images/wedding_service.jpg')"></div>
                            <div class="vertical-middle features-content triangle-left col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="inner text-right">
                                        <div class="section-header">
                                            <h3 class="section-heading">Wedding</h3>
                                        </div>
                                        <div class="detail small-spacing">
                                            <p style="text-align: justify">
                                                Le Jour de votre <b>Mariage</b>, laissez-vous conduire avec élégance et distinction à bord de votre véhicule de Cortège.
                                                <b>Heavy-Drive</b> organisera votre transport personnalisé par vos soins afin de satisfaire au moindre de vos souhaits.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--.more-button-section.section-separator-small.text-center.col-xs-12--><!--    .btn-form--><!--        a.btn.btn-fill-big(href='#')= btnText-->
            </div>
        </div>
    </section>
{% endblock %}