{% extends "frontend/base.html.twig" %}
{% block body %}
    <h2 class="centered">{{ 'heavy.wedding.marryservice'| trans }}</h2>
    <hr class="star-light">

    <section class="section-wedding">
        <div class="container-fluid">
            <div id="well" class="wedding">
                <div class="well centered bloc-wedding">
                    <h3>{{ 'heavy.wedding.marry'| trans }}</h3>
                </div>
                <br>
                {% for car in cars %}
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-1 col-lg-6">
                                <img class="img- img-responsive" src="https://cdn5.1001salles.com/images/17831/g/1469467580_1107_211270119.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-1 col-lg-6">
                                <img class="img- img-responsive" src="{{ car.pictures|first }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-1 col-lg-6">
                                <p>Salle de Mariage</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-1 col-lg-6">
                                <p>{{ (car.carLabel) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal" data-whatever="@mdo">Contact</button>
            </div>
        </div>
    </section><!--section close-->
{% endblock %}