.img-portfolio {
  margin-bottom: 30px;
  margin-top: 40px;
}
.img-hover:hover {
  opacity: 0.8;
}

.form-date .well {
  margin-bottom: 5%;
  margin-top: 5%;
}

.field-agency {
  margin-bottom: 4%;
  margin-top: 2%;
}

.field-date {
  margin-bottom: 2%;
  margin-top: 2%;
}
.cadre {
  background-image: linear-gradient(to right,#3d033d, #8b308a, #8b308a, #3d033d);
  padding-bottom: 50px;
  padding-top: 50px;
}

.form-date button {
  margin-bottom: 0%;
  margin-top: 5%;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
  color: purple;
}

