embed, iframe, object
{
  max-width: 100%;
}

.centered {
  text-align: center;
}

iframe {
  width:100%;
  height:auto;
}

.panel-footer .btn-primary {
  color: #fff;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-footer button{
  padding: 10px 50px;
  display: inline-block;
  border-radius: 30px;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
  margin: 5px;
}

.success:active:hover {
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-body li {
  list-style: none;
}