{% extends "frontend/base.html.twig" %}
{% block body %}
    <div class="container">
        <h2 class="centered">{{ 'heavy.cars.selection'|trans }}</h2>
        <hr class="star-light">

        {{ include ('frontend/car/form__car__available.html.twig') }}

        {{ include ('frontend/car/list__cars.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        jQuery(function () {
            jQuery('#js-datepicker1').datetimepicker({ format:'DD-MM-YYYY HH:mm:ss' });
            jQuery('#js-datepicker2').datetimepicker({ format:'DD-MM-YYYY HH:mm:ss' });

        });
    </script>

{% endblock %}